/* Main styles that are used for all auth pages */

body
{
    /* Creates grid layout */
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--header-height);
}


/* Logo and navigation */
body > header
{
    /* Sets height relative to grid cell */
    height: 100%;
}


main
{
    /* Horizontally centers main element */
    margin: 0 auto;

    /* Centers main element at the center of the screen */
    grid-row: 2;

    /* Centers items */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    /* es width value if screen is too small */
    min-width: 360px;
}


main > *
{
    width: 100%;
}


@media (max-width: 375px)
{
    main
    {
        min-width: 100%;
    }
}
