/* Text input field */
.input-field.text input
{
    width: 100%;
    height: 3.25rem;    /* 52 px */

    /* Creates space before text */
    padding-left: var(--form-input-text-first-letter-padding);

    /* Creates borders */
    border: 0.5px solid var(--form-input-text-border-color);
    border-radius: 20px;

    /* Sets colors */
    background-color: var(--form-input-text-bg-color);
    color: var(--form-input-text-color);

    /* Sets font */
    font-weight: 400;

    /* Removes outline that is appearing on focus */
    outline: none;
}


/* Sets outline that is appearing on focus */
.input-field.text input:focus
{
    /* Making border bigger */
    border-width: 2px;

    /* Making space before text smaller to compensate border increase */
    padding-left: calc(var(--form-input-text-first-letter-padding) - 1px);
}


/* Text input placeholder */
.input-field.text label
{
    /* Places the placeholder inside the input */
    position: absolute;
    top: 1rem;
    left: var(--form-input-text-first-letter-padding);

    /* Sets colors */
    color: var(--form-input-placeholder-color);

    /* Sets font */
    font-weight: 300;

    /* Sets cursor type */
    cursor: text;

    /* Sets animation */
    transform-origin: left center;
    transition: transform 250ms;

    /* Disables text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Moves the placeholder upwards  */
.input-field.text input:focus ~ label,
.input-field.text input:not(:placeholder-shown) ~ label
{
    transform: translateY(calc(-1 * var(--form-input-text-font-size) - 0.08rem)) scale(0.75);
}


/* Text input field with errors */
.input-field.text.has-errors input,
.input-field.text.has-errors input:focus
{
    border-color: var(--form-input-error-text-color);
}

/* Validation errors of text input field */
.input-field.text .errors
{
    /* Justifies errors by placeholder */
    margin-left: var(--form-input-text-first-letter-padding);
    margin-right: var(--form-input-text-first-letter-padding);
}
