/* Initial styles */

*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
    font-size: 1em; /* 16px (browser settings) */
    /* Background */
    background-color: var(--main-bg-color);
    background-image: var(--main-bg-image);
    background-attachment: fixed;
    background-size: cover;
    color: var(--main-text-color);
}

a
{
    /* Removes styles from anchors */
    text-decoration: none;
    color: inherit;
}

body
{
    background-color: transparent;

    /* Horizontally centers element */
    width: 67%;
    margin: 0 auto;

    height: 100%;
}

@media (max-width: 1024px)
{
    body{
        width: unset;
    }
}
