@font-face {
    font-family: ManropeVariable;
    src: url(/assets/fonts/Manrope/Manrope-VariableFont_wght.woff2) format('woff2');
    font-weight: 1 999;
    font-style: normal;
}


@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-bold-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-regular-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-light-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-light-webfont.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
