/* The list of model's available sizes */
.model-sizes
{
    /* Removes default ul's styles */
    padding: 0;
    list-style: unset;
}

.model-sizes > li
{
    /* Creates layout of list's items */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: fit-content;
}

/* Size multiplier and actual size values */
.model-sizes > li > *
{
    /* Sets items width */
    flex-basis: 50%;
}

/* Add button */
.model-sizes > .add
{
    /* Places button in the center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-sizes > .add button
{
    flex-basis: fit-content;

    /* Removes bg and border */
    border: none;
    background-color: transparent;

    /* Sets font */
    color: red;
    font-weight: 900;
    font-size: 2rem;
}

.model-sizes > .add button:hover
{
    cursor: pointer;
}

/* Delete button */
.model-sizes > li > button.delete
{
    /* Sets minimal possible element's size */
    flex-basis:auto;

    /* Vertically centers self */
    align-self: center;

    /* Removes bg and border */
    border: none;
    background-color: transparent;

    /* Sets font */
    color: red;
    font-weight: 900;
    font-size: 1.5rem;
}

.model-sizes > li > button.delete:hover
{
    cursor: pointer;
}

/* Real life model's size values */
.model-sizes > li .actual-values
{
    /* Adds gaps between items */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.model-sizes > li .actual-values .input-field
{
    margin-bottom: 0;
}

.model-sizes > li .actual-values > *
{
    /* Sets */
    flex-basis: 32%;
}
