main
{
    /* Constants */
    --gallery-images-padding: 0.9375rem;   /* 15 px */

    /* Sets gap between site header and main */
    margin-top: 25px;
}

main > header
{
    display: flex;
    text-align: center;
}

/* Preview image and change prices link-button */
.preview-and-price-change
{
    /* Sets layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    /* Sets gap */
    grid-gap: 0 60px;
}

.preview-and-price-change > fieldset
{
    margin-top: 0;
}

.preview-image img
{
    /* Sets background */
    background-color: var(--item-window-bg-color);
    padding: var(--gallery-images-padding);

    /* Sets rounded borders */
    border-radius: var(--border-radius);

    /* Sets gap between image and upload button */
    margin-bottom: 20px;
    width: 100%;
}

/* Gallery images */
.gallery-images
{
    /* Removes default styles */
    padding: 0;
    list-style: none;

    /* Sets gallery layout */
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    justify-content: space-between;

    /* Sets vertical gap between gallery images */
    grid-gap: 70px 0;
}

/* Gallery image */
.gallery-images > li
{
    /* Sets background */
    background-color: var(--item-window-bg-color);
    padding: var(--gallery-images-padding);

    /* Sets rounded borders */
    border-radius: var(--border-radius);
}

.gallery-images > li.deletion-mark button
{
    background: rgb(66, 66, 66);
    color: white;
}

/* Gallery image */
.gallery-images > li img
{
    /* Limits size of image */
    width: 100%;

    /* Sets rounded borders */
    border-radius: var(--border-radius);

    /* Sets gap between image and delete button */
    margin-bottom: 20px;
}

/* Delete gallery image button */
.gallery-images > li button
{
    /* Sets height */
    min-height: min(3.125rem, 50px);
}
