/* Figure element */
.filament-characteristics ul
{
    padding: 0;
}

/* li element */
.filament-characteristic
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Second element of characteristic */
.filament-characteristic > *:nth-child(2)
{
    width: 10%;
}
